<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <div class="footer-first-area">
        <div class="footer-first-first">
            <div class="footer-title">project name</div>
            <div class="footer-content">MADE BY Someone<br/>brbr<br/>brbr</div>
            <div class="footer-social-section">
                <a class="footer__social" href="https://www.facebook.com/" target="_blank"
                   th:href="@{https://www.facebook.com/}">
                    <i class="ri-facebook-box-fill"></i>
                </a>
                <a class="footer__social" href="https://twitter.com/" target="_blank" th:href="@{https://twitter.com/}">
                    <i class="ri-twitter-fill"></i>
                </a>
                <a class="footer__social" href="https://www.instagram.com/" target="_blank"
                   th:href="@{https://www.instagram.com/}">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a class="footer__social" href="https://www.youtube.com/" target="_blank"
                   th:href="@{https://www.youtube.com/}">
                    <i class="ri-youtube-fill"></i>
                </a>
            </div>
        </div>
        <div class="footer-first-second">
            <div class="footer-title">About PCS</div>
            <div class="footer-content">
                <ul>
                    <li><a class="something" href="/">HOME</a></li>
                    <li><a class="something" href="/">brbr</a></li>
                    <li><a class="something" href="/">brbr</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-first-third">
            <div class="footer-title">ABOUT</div>
            <div class="footer-content">
                <ul>
                    <li><a class="something" href="/about">WHY?</a></li>
                    <li><a class="something" href="/member">MEMBER</a></li>
                    <li><a class="something" href="https://github.com/jyc0011">GITHUB</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-first-4th">
            <div class="footer-title">Support</div>
            <div class="footer-content">
                <ul>
                    <li><a class="something" href="https://www.naver.com">자주 묻는 질문</a></li>
                    <li><a class="something" href="https://www.daum.net">지원 센터</a></li>
                    <li><a class="something" href="https://www.nate.com">문의하기</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-second-area">
        <div class="footer-second-left">
            © copyright. All rights reserved.
        </div>
        <div class="footer-second-right" style="display: flex">
            <div class="footer-TermsNAgreements"><a
                    class="something" href="https://youtu.be/9PfIi4nXJ6E?si=VoHRlilst2YOdQiP"
                    style="font-size: 14px;">Terms & Agreements</a></div>
            <div class="footer-PrivacyPolicy" style="margin-left: 30px"><a
                    class="something" href="https://youtu.be/Eb-JAjWSxkI?si=g6xiT8-0tVViOcT2"
                    style="font-size: 14px;">Privacy Policy</a></div>
        </div>
    </div>
</div>
</html>