<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>like Lion Session homework</title>
    <link href="/css/homwork.css" rel="stylesheet">
    <link href="/css/homwork_list.css" rel="stylesheet">
    <link href="/css/globals.css" rel="stylesheet">
    <link href="/css/levels.css" rel="stylesheet">
    <link href="/css/mainStyle.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
</head>